<h1>Add new patient</h1>

<!--
<%#= form_for(:patient, url: create_patient_path) do |form| %>
    <p>
    <%#= form.label :name %>
    <%#= form.text_field :name%>
    <%#= form.submit %>
    </p>
<%#end%>
-->
