<h1>Add new patient</h1>

<%= form_for(@patient, url: {action: "create"}, html: {class: "nifty_form"}) do |form| %>
    <p>
    <%= form.text_field :name%>
    <%= form.submit("Create patient") %>
    </p>
<%end%>

<h3> <%= @param %> </h3>
