<div class="fields">
    <p>
        Question: <%= f.text_field :condition %>
        If true:  <%= f.text_field :true %>
        If false: <%= f.text_field :false %>
        <%= link_to_remove_fields "remove", f %>
    </p>
</div>
