<div class="fields">
    <p>
        Rules: <%= f.text_field :condition %>
        True:  <%= f.text_field :true %>
        False: <%= f.text_field :false %>
        <%= link_to_remove_fields "remove", f %>
    </p>
</div>
